:root {
    --color-gold: #BDAE82;
    --color-black: #000000;
}

/* inter-regular - latin */
@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('../assets/fonts/inter-v8-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../assets/fonts/inter-v8-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* merriweather-regular - latin */
@font-face {
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('../assets/fonts/merriweather-v28-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../assets/fonts/merriweather-v28-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* merriweather-700 - latin */
@font-face {
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 700;
    src: local(''),
         url('../assets/fonts/merriweather-v28-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../assets/fonts/merriweather-v28-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}
* {
    box-sizing: inherit;
}
body {
    font-family: 'Inter';
    font-style: normal;
    font-size: 16px;
    line-height: 1.3;
    color: #FFFFFF;
    margin: 0;
    padding: 0;
    background-color: var(--color-black);
}
.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 20px;
}
/* header styles start*/
.header-container {
    background-image: url(../assets/img/hero-bg.jpg);
    background-repeat: no-repeat;
    background-position: center 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    height: 90px;
}
.header-logo {
    width: 50px;
    height: 50px;
    background-image: url(../assets/svg/logo.svg);
    background-size: contain;
    background-repeat: no-repeat;
    transition: 0.3s; 
}
.header-logo:hover,
.header-logo:active {
    filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%) contrast(87%);
}
.header-nav {
    margin-left: auto;
}
.nav-list {
    display: flex;
    list-style: none;
}
.item-link {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 400;
    line-height: 50px;
    padding-right: 30px;
    transition: 0.3s;
}
.item-link:hover,
.item-link:focus {
    color: var(--color-gold);
}
.link-lng,
.sep-lng {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 700;
    line-height: 50px;
    transition: 0.3s;
}
.link-lng:hover,
.link-lng:focus {
    color: var(--color-gold);
}
.sep-lng {
    margin: 0 9px;
}
/* header styles end*/

/* hero styles start*/
.hero-continer {
    background-image: url(../assets/img/hero-bg.jpg);
    background-position: center -90px;
    background-repeat: no-repeat;
    min-height: calc(910px - 90px);
}
.hero-block {
    padding-top: calc(250px - 90px);
    margin-left: 80px;
}
.hero-title {
    margin: 0 0 10px 0;
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 120px;
}
.hero-text {
    width: 400px;
    margin: 0 0 25px 0;
    font-weight: normal;
    font-size: 20px;
    line-height: 40px;
}
.button-hero {
    width: 220px;
    height: 55px;
    font-family: inherit;
    font-size: 20px;
    line-height: 40px;
    color: var(--color-black);
    background: var(--color-gold);
    border: 0;
    cursor: pointer;
    transition: 0.3s;
}
.button-hero:hover,
.button-hero:focus {
    color: #FFFFFF;
}
/* hero styles end*/

/* skills styles start*/
.title-container {
    width: 50%;
    margin: 0 auto;
    background-image: linear-gradient(to top, var(--color-black) 39px, var(--color-gold) 39px, var(--color-gold) 41px, var(--color-black) 41px);
}
.section-title {
    width: fit-content;
    padding: 100px 20px 0 20px;
    margin: 0 auto; 
    margin-bottom: 60px;
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 80px;
    color: var(--color-gold);
    background-color: var(--color-black);
}
.skills-items {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 -20px;
}
.skill-item {
    max-width: 320px;
    margin: 20px;
    padding: 0 20px 8px 20px;
}
.skill-item {
    background-position: center top;
    background-repeat: no-repeat;
    background-size: 62px 50px;
}
.skill-item:nth-child(1){
    background-image: url(../assets/svg/camera_1.svg);
}
.skill-item:nth-child(2){
    background-image: url(../assets/svg/video_1.svg);
}
.skill-item:nth-child(3){
    background-image: url(../assets/svg/retouch_1.svg);
}
.skill-item:nth-child(4){
    background-image: url(../assets/svg/mic_1.svg);
}
.skill-title {
    padding: 100px 20px 20px 20px;
    margin: 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 40px;
    text-align: center;
    color: #FFFFFF;
}
.skill-text {
    margin: 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 36px;
    text-align: center;
    color: #FFFFFF;
}
/* skills styles end*/

/* portfolio styles start*/
.porfolio-btns {
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
    gap: 5px;
}
.button-portfolio {
    width: 220px;
    height: 55px;
    font-family: inherit;
    font-size: 20px;
    line-height: 40px;
    color: var(--color-gold);
    background: var(--color-black);
    border: 2px solid var(--color-gold);
    cursor: pointer;
    transition: 0.3s;
}
.button-portfolio:hover {
    color: #FFFFFF;
}
.button-portfolio:active,
.button-portfolio:focus {
    color: var(--color-black);
    background: var(--color-gold);
    border: 0;
}
.portfolio-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px
}
.portfolio-item {
    width: 450px;
    height: 560px;
    overflow: hidden;
}

.portfolio-item__img {
    object-fit: contain;
    transition: 0.3s;
}
.portfolio-item__img:hover {
    transform: scale(1.1);
}
/* portfolio styles end*/

/* video styles start*/
.video-player {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.video-player-btn {
    width: 138px;
    height: 138px;  
    padding: 0;
    border: 0;
    background-color: transparent;
    background-image: url(../assets/svg/Play_hover.svg);
    background-repeat: no-repeat;
    background-position: center center;
    position: absolute;
    transition: 0.3s;
    cursor: pointer;
}
.video-player-btn:hover,
.video-player-btn:active {
    filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%) contrast(87%);
}
/* video styles end*/

/* price styles start*/
.price-items {
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
    gap: 25px;
}
.price-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 43px;
    width: 450px;
    /* height: 505px; */
    border: 3px solid var(--color-gold);
    text-align: center;
}
.price-title {
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 56px;
    text-align: center;
    margin: 0;
    /* margin-top: 43px; */
    margin-bottom: 20px;
}
.item-price {
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 48px;
    text-align: center;
    color: var(--color-gold);
    margin: 0;
    margin-bottom: 20px;
}
.item-options {
    margin-bottom: 40px;
    flex-grow: 1;
}
.item-option {
    display: block;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 36px;
    text-align: center;
}
/* price styles end*/

/* contacts styles start*/
.contacts .container {
    background-image: url(../assets/img/contacts-bg.jpg);
    /* background-size: auto 700px; */
    /* background-position: center center; */
    height: 700px;
}
.contacts-form-container {
    margin-left: auto;
    padding-top: 60px;
    width: 450px;
}
.contacts-form {
    display: flex;
    flex-direction: column;
}
.contacts-title {
    margin: 0 0 40px 0;
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 80px;
    color: var(--color-gold);
}
.form-item {
    height: 50px;
    margin-bottom: 20px;
    padding-left: 20px;
    border: 2px solid var(--color-gold);
    font-family: 'Inter';
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 40px;
    color: var(--color-gold);
    background: rgba(0, 0, 0, 0.5);
}
textarea.form-item {
    height: 100px;
    margin-bottom: 30px;
    resize: none;
}
.form-item:focus {
    outline: none;
}
.form-item::placeholder {
    font-family: inherit;
    font-size: 20px;
    color: var(--color-gold);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-text-fill-color: var(--color-gold);
  transition: background-color 0s ease-in-out 9000s;
}
/* contacts styles end*/

/* footer styles start*/
.footer-container {
    padding: 50px 0;
    /* height: 150px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 50px;
}
.footer-container a {
    text-decoration: none;
    color: #FFFFFF;
    transition: 0.3s;
}
.footer-container a:hover {
    color: var(--color-gold);
}
.footer-data span {
    margin-right: 20px;
}
.social-list {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}
.social-list li {
    list-style: none;
    margin-left: 20px;
}
.social-list a {
    font-size: 32px;
}
.social-list a:hover, 
.social-list a:active,
.social-list a:focus {
    filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%) contrast(87%);
}
.social-list img {
    vertical-align: middle;
}
/* footer styles end*/
